<div mat-dialog-content class="mat-dialog-content">

    <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="Email" [(ngModel)]="email">
        <label for="floatingInput">Email</label>
      </div>

    <div class="form-floating">
        <input type="username" class="form-control" id="floatingInput" placeholder="Username" [(ngModel)]="username">
        <label for="floatingInput">Username</label>
      </div>

    <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" [(ngModel)]="password">
        <label for="floatingPassword">Password</label>
    </div>

    <button class="btn btn-primary w-100 py-2" type="submit" (click)="SignUp()">Sign-up</button>

</div>