<div mat-dialog-content class="mat-dialog-content">

    <div class="form-floating">
        <input type="text" class="form-control" id="floatingName" placeholder="Название" [(ngModel)]="name">
        <label for="floatingName">Название</label>
      </div>

    <div class="form-floating">
        <input type="text" class="form-control" id="floatingOrigName" placeholder="Оригинальное название" [(ngModel)]="origname">
        <label for="floatingOrigName">Оригинальное название</label>
    </div>

    <div class="form-floating">
        <textarea rows="5" class="form-control" id="floatingDesc" placeholder="Описание" name="desc" [(ngModel)]="desc"></textarea>
        <label for="floatingDesc">Описание</label>
    </div>

    <div class="form-floating">
        <input type="number" class="form-control" id="floatingDuration" placeholder="Длительность" [(ngModel)]="duration" min="1">
        <label for="floatingDuration">Длительность (в минутах)</label>
    </div>

    <div class="form-floating">
        <input type="number" class="form-control" id="floatingRating" placeholder="Рейтинг" [(ngModel)]="rating" min="0" max="10" step="0.1" (ngModelChange)="validateRating($event)">
        <label for="floatingRating">Рейтинг</label>
    </div>

    <div class="form-floating">
        <mat-form-field class="multic">
            <mat-label>Тип</mat-label>
            <mat-select [(value)]="type" [compareWith]="compareItems">
                <mat-option *ngFor="let type of typeDTOlist" [value]="type">
                    {{type.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="form-floating">
        <mat-form-field class="multic">
            <mat-label>Жанры</mat-label>
            <mat-select [(value)]="genres" multiple [compareWith]="compareItems">
                <mat-option *ngFor="let genre of genreDTOlist" [value]="genre">
                    {{genre.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>


    <div class="FileUploader">
        <input type="file" class="form-control" id="posterFile" (change)="onFileSelected($event)">
    </div>

    <div class="form-floating">
        <input type="text" class="form-control" id="floatingPlayer" placeholder="Плеер" name="player" [(ngModel)]="player">
        <label for="floatingPlayer">Плеер</label>
    </div>
    
    <div class="form-floating">
        <button class="btn btn-primary create-btn" type="submit" (click)="Edit()">Редактировать</button>
    </div>


</div>